a:2:{s:7:"favicon";s:36:"ffda91530cbf2e7e854690561218bb4b.ico";s:11:"faviconFile";O:20:"yii\web\UploadedFile":5:{s:4:"name";s:23:"favicon mojo second.ico";s:8:"tempName";s:36:"/Applications/MAMP/tmp/php/phpiJ2fId";s:4:"type";s:24:"image/vnd.microsoft.icon";s:4:"size";i:284;s:5:"error";i:0;}}